.star_container {
  display: flex;
  flex-direction: row;
}
.main_container {
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 200px;
  background-color: white;
  min-height: 588px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 795px;
}
.leftContainer {
  width: 441px;
}
.input {
  width: 415px;
  border: 2px solid black;
  height: 42px;
  padding-left: 20px;
}
.input:focus {
  outline: none;
}
.rightContainer {
  width: 350px;
  margin-left: 20px;
}
.rigthHandler {
  display: flex;
  flex-direction: row;
}
.rating,
.genre {
  height: 44px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  width: 89px;
}
.genre {
  margin-left: 10px;
}
.movies_box_container {
  border: 2px solid black;
  margin-top: 10px;
}
.moviecontainer {
  padding-inline: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.movieTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.movieTitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.2px;
  color: #000000;
}
.movieCategory {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  letter-spacing: -0.2px;

  color: #777777;
}
.ratingBoxContaier {
  border: 2px solid black;
  margin-top: 10px;
  width: 270px;
  padding: 5px;
}
.rowContainer {
  display: flex;
  flex-direction: row;
}
.anyThing{
    margin-left: 10px;
}